@model GACKO.Shared.Models.GackoError

@if (Model != null)
{
    <div class="gackomodal">
        <img src="http://100dayscss.com/codepen/alert.png" width="44" height="38" />
        <span class="title">Oh snap!</span>
        <p>@Model?.ExceptionMessage</p>
        <div class="button">Dismiss</div>
    </div>
}
