@using GACKO.Shared.Models.BankAccount
@using Newtonsoft.Json
@model BankAccountListViewModel
@{
    Layout = "_Layout";
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="~/js/inputfit.js"></script>
    <script src="~/js/bankacc.js"></script>
}

<div class="horizontal-container">
    @foreach (var bankAcc in Model.BankAccounts)
    {
        @Html.Partial("_BankAccountCard", bankAcc)
    }

    @Html.Partial("_NewBankAccountCard")
</div>

@Html.Partial("_ErrorModal", Model.Error)