@model GACKO.Shared.Models.BankAccount.BankAccountModel
<div class="card_bank_acc">
    <h1 class="title_bank_acc">Bank account</h1>
    <div class="iban_bank_account">
        @Model.Iban
        <div class="bar"></div>
    </div>
    <div class="input-container">
        @Model.Balance
        <div class="bar"></div>
    </div>
</div>
