@using GACKO.Shared.Models.Expense
@model ExpenseListViewModel

<div>
    <div class="shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Expense Category</th>
                    <th>Expense Date</th>
                    <th>Sales Document</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Expenses != null)
                {
                    foreach (var expense in Model.Expenses)
                    {
                        @Html.Partial("_ExpenseListElement", expense);
                    }
                }
                <tr>
                    <td data-title="Name">
                        Click
                    </td>
                    <td data-title="Amount">
                        to
                    </td>
                    <td data-title="Expense Category">
                        add
                    </td>
                    <td data-title="Expense Date">
                        expense
                    </td>
                    <td data-title="Sales Document">
                    </td>
                </tr>
                <tr class="expand">
                    <td colspan="10">
                        <div class="expand">
                            <div class="row">
                                <div class="col-md-4">
                                    @using (Html.BeginForm("Create", "Expense", new { area = "VirtualAccount" }, FormMethod.Post))
                                    {
                                        <input type="text" required="required" name="VirtualAccountId" value="@Model.VirtualAccountId" hidden />
                                        <div class="form-group">
                                            Name: <input type="text" required="required" name="Name" />
                                        </div>
                                        <div class="form-group">
                                            Amount: <input type="text" required="required" name="Amount" />
                                        </div>
                                        <div class="form-group">
                                            ExpenseCategory: <input type="text" required="required" name="ExpenseCategory" />
                                        </div>
                                        <div class="form-group">
                                            ExpenseDate: <input type="date" required="required" name="ExpenseDate" />
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

