@using GACKO.Shared.Models.Expense
@model ExpenseListViewViewModel

<div>
    <div class="shadow-z-1">
        <table id="expense-list" class="table table-hover table-mc-light-blue">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Expense Category</th>
                    <th>Expense Date</th>
                    <th>Sales Document</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Expenses != null)
                {
                    foreach (var expense in Model.Expenses)
                    {
                        @Html.Partial("_ExpenseListElement", expense);
                    }
                }
                <tr>
                    <td colspan="10">
                        Click to add expense
                    </td>
                </tr>
                <tr class="expand">
                    <td colspan="10">
                        <div class="expand">
                            <div class="row">
                                <div class="col-md-4">
                                    @*@using (Html.BeginForm("Create", "Expense", new { area = "VirtualAccount" }, FormMethod.Post))
                                    {*@
                                        <input id="addexpense-virtualaccid" type="text" required="required" name="VirtualAccountId" value="@Model.VirtualAccountId" hidden />
                                        <div class="form-group">
                                            Name: <input id="addexpense-name" type="text" required="required" name="Name" />
                                        </div>
                                        <div class="form-group">
                                            Amount: <input id="addexpense-amount" type="text" required="required" name="Amount" />
                                        </div>
                                        <div class="form-group">
                                            ExpenseCategory: <input id="addexpense-category" type="text" required="required" name="ExpenseCategory" />
                                        </div>
                                        <div class="form-group">
                                            ExpenseDate: <input id="addexpense-date" type="date" required="required" name="ExpenseDate" />
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" onclick="addexpense()" value="Create" class="btn btn-primary" />
                                        </div>
                                    @*}*@
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

